[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# bdpy = "==0.14rc6"  # this version fixing does not work
bdpy = "*"
h5py = "*"
hdf5storage = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"
numpy = "< 1.20"  # < 1.20 is required for nipy
nibabel = "== 3.2"  # == 3.2 is required for nipy
nilearn = "*"
# nipy = "*"  # pipenv install does not work for this package
pyyaml = "*"
scikit-learn = "*"
scipy = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.8"
